/* ESTILOS GLOBALES */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100vh;
}

.card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.itemCard {
    width: 30%;
    margin: 0.5rem;
    padding: 0.5rem;
    border-radius: 1rem;
    color: #fff;
    background-color: black;
    box-shadow: 0px 0px 10px #aa8968;

}


/* ITEM LIST CONTAINER */

.contenedor {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: 100%;
    height: 100%;


}

.contenedor p {
    font-size: 1.5rem;
    margin: 0.5rem;
}



/* ITEM */

.item {
    display: flex;
    justify-content: center;
}



.nav-enlace {
    display: inline-block;
    background-color: black;
    color: grey;
    padding: 10px 30px;
    text-decoration: none;
}

.nav-enlace:hover {
    color: #fff;
    text-decoration: none;
}


nav {
    display: flex;
    justify-content: space-around;
    background-color: black;
}


@media (max-width: 768px) {
    nav {
        flex-direction: column;
    }
    .nav-enlace {
        margin-bottom: 10px;
    }
    .nav-button {
        color: grey;
        background-color: black;
        padding: 10px 30px;
        text-decoration: none;

    }
    .desaparece {
        display: none;
    }
}

@media (min-width: 768px) {
    .nav-button {
        display: none;
    }
}

.icon-cart {
    display: inline-block;
    color: grey;
    text-decoration: none;
}

.icon-cart:hover {
    color: #fff;
}

.container-fluid {
    display: flex;
  }

/* ESTILOS ITEM DETAIL*/
.itemDetail {
    margin: 0 auto;
    padding: 0.5rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .details {
    text-align: center;
  }

  .itemDetail button {
    margin: 1rem 0.2rem;
    border: none;
  }


  img {
    width: 70%;
    height: auto;
    margin: 0 auto;
  }

  .terminar-btn:hover {
    background-color: gray;
    color: black;
}

  
  /* ESTILOS CONTADOR */

  .contador {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  

.contador {
    border-style: hidden;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    width: 150px;
    }

.count-button button {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    border: none;
    background-color: black;
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
    }

.agregar-btn button {
    border: none;
    background-color: black;
    color: #fff;
    font-size: 1rem;
    padding: 0.6rem;
    border-radius: 1rem;
}

.terminar-btn {
    background-color: black;
    color: #fff;
    font-size: 1rem;
    padding: 10px 30px;
    text-decoration: none;
    border-radius: 1rem;
  
}

.contador span {
    font-size: 1.5rem;

}

.contador button:hover {
    background-color: gray;
    color: black
}

