* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100vh;
    background-color: black;
}

.saludoIni {
    color: white;   
}


.navbar-light .navbar-brand {
    color: #fff;
}

.navbar-light .navbar-nav .nav-link {
    color: #fff;
}


.navbar-expand-lg .navbar-collapse {
    display: flex !important;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: center;
    align-content: center;
}


.icon-cart {
    display: flex;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.listaUsuarios {
    color: white;
}

.contador {
    border-style: hidden;
    display: flex;
    align-items: center;
    align-content: center;
    }



.itemCard {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: 1rem;
    padding: 1rem;
    border-radius: 1rem;
    background-color: #fff;
    box-shadow: 0px 0px 10px #000;
}

.itemList {


}

.itemDetailContainer{
    width: 100%;
}