* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100vh;
    background-color: black;
}

.saludoIni {
    color: white;   
}


.navbar-light .navbar-brand {
    color: #fff;
}

.navbar-light .navbar-nav .nav-link {
    color: #fff;
}


.navbar-expand-lg .navbar-collapse {
    display: flex !important;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: center;
    align-content: center;
}


.icon-cart {
    display: flex;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}